*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

a, li, button{
text-decoration: none;
font-size: 20px;
/* color: orange; */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: orange;
font-weight: 500;
font-size: 30px;
padding: 10px 20px;
cursor: pointer;
letter-spacing: .2;
}
.nav-links li{
    list-style: none;
    display: inline-block;

}
.nav-links li a{
margin: 0 15px;

}
.nav-links li a:hover{
    color:orange;
}
button{
border: none;
background-color: orange;
border-radius: 20px;
margin-right: 20px;
padding: 6px 25px;

}
button:hover{
    color: white;
}
.color{
    color: orange;
}
.parentdiv-1{
    margin-top: 5%;
    display: flex;
    
}
.parentdiv-1 img{
width: 100%;
height: 600px;
}
.parentdiv-1 .div-1{
text-align: justify;
margin-left: 20px;
margin-top: 15%;
}
.ano-btn{
    background-color: tomato;
    border-radius: 20px;
 border: 2px solid;
 padding: 10px;
 margin-left: 5%;
 color: white;
 margin-top: 30%;
 padding-bottom: 5px;
}


.parentdiv-2{
    background-image: url("food-network-main/food-network-main/images/shapes/7.png");
    background-repeat: no-repeat;
    margin-top: 5%;
    padding-top: 4%;
display: flex;
width: 100%;


/* margin-left: 5%; */

}
.parentdiv-2 img{
    padding-left: 150%;
    width: 150%;
}
.parentdiv-2 .div-4{
padding-right:5%;
padding-left: 40%;
padding-top: 5%;
text-align: justify;
}
 .ano-btn-one{
    border: 2px solid gray;
    background: linear-gradient(orange,tomato);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;

}

.recipies h1{
margin-top: 5%;
    text-align: center;
    margin-bottom: 30px;
}
.para p{

text-align: center;
margin-top: 5px;
}

.card{
display:flex ;

}



.fst-card{
    margin-left: 30px;
margin-top: 5%;
width: 300px;
height: 400px;
background: white;
box-shadow: 2px 2px 3px gray,
-3px -3px 3px gray;
border-radius: 15px;
margin-right: 30px;
margin-left: 7.5%;
}

.snd-card{
    margin-left: 30px;
margin-top: 5%;
width: 300px;
height: 400px;
background: white;
box-shadow: 2px 2px 3px gray,
-3px -3px 3px gray;
border-radius: 15px;
margin-right: 30px;
}

.trd-card{
    margin-left: 30px;
margin-top: 5%;
width: 300px;
height: 400px;
background: white;
box-shadow: 2px 2px 3px gray,
-3px -3px 3px gray;
border-radius: 15px;

}
/* .image-1{
     height: 100%;
     width: 93%; 
     margin: 10.5px;
   background: url("/food-network-main/food-network-main/images/food/Project\ Cover.jpg");



} */
















.content-1 p{
text-align: justify;
padding: 5px;
margin-left: 2px;
margin-right: 2px;
text-indent: 15px;
}
.content-1 h1{
text-indent: 15px;


}
footer{
    margin-top: 5%;
    height: 150px;
    background: black;
}
.footer-one h1{
    margin-top: 10px;
text-align: center;
color: white;
}
.paragraph p{

text-align: center;
color: white;
}

.last-sec{
    
    height: 100px;
    width: 86.5%;
    background: white;
    box-shadow: 2px 2px 2px gray,
    -2px -2px 2px gray;
    border-radius: 10px;
    margin-top: 5%;
   

}
.social{
    display: flex;
    padding-top: 20px;
    /* padding-left: 33%; */
}
.nothing-1 {
margin-left: 10%;
}
.nothing-2 {
    margin-left: 27%;
    }

    .nothing-3 {
        margin-left: 33%;
       margin-right: 10%;
        }


